#navbar{
    flex-direction: column;
}
#navbar ul{
    flex-direction: column;

}


/* home section  */
/* services section  */
#services{
flex-direction: column;
}
#services .box img{
    /* border: 2px solid yellow; */
        width: 100%;
        height: auto;
    opacity: 0.67;
}

/* contact before section  */

#contact::before{
    content: "";
    position: absolute;
    background-color:  rgb(27, 26, 26);
    top:990px;
    height: 200%;
    width: 100%;
    z-index: -1;
    opacity: 3.92;

}

/* contact seection  */
h1 {
    font-size: 1.3rem;
}

.form_group input, textarea{
    padding: 0px 0px;
    }
    .contact-btn{
        padding: 0px 0px;
    } 